.App {
  text-align: center;
}

button {
  padding: 10px 10px;
}

div#await-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 98vh;
  background-color: white;
}

div#await-video-container {
  position: relative;
}

video#await-video {
  position: absolute;
  top: 0;
  left: 0;
}

div#await-video-controls {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  justify-content: center;
}

div#await-resoution-controls {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  justify-content: center;
}



div#call-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 98vh;
  background-color: white;
}

div#call-videos {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background:#222;
  width: 100%;
  height:90vh;
}

.remote-container {
  overflow: hidden;
}

div#my-area {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  top:0;
  right:0;
  z-index: 10;
  background-color: white;
}

video#my-video {
  position: relative;
  top: 0;
  right: 0;
  height: 64px;
}